/* Needs: responsive layout
         */

*{
    box-sizing:border-box;
    /* display: flex; */
    /* flex-direction: column; */
    padding: 0;
    margin: 0;
}

title {
    display: none;
}

.profile {
    width: 275px;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 50px;   
}


body {
    background-color: lightgray
}

header {
    justify-content: space-between;
    list-style-type: none;
    text-align: center;

}
header .hero {
    /* top: 0; */
    background-image: url("../homework-2/background.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* position: absolute;
}

/* header .background {
    top: 0;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    background-position: center; */
}

/* .hero .background {
    top: 0;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    background-position: center;
} */

/* header .hero {
    padding: 15% 10%;
} */

header h1 {
    display: inline-block;
    font-family: monospace;
    font-size: 46px; 
    text-decoration: underline;
    color: white;
} 


nav a:hover {
cursor: pointer;
color:rgb(0, 31, 204);
}

.navbar {
    margin-bottom: 20px;
}

.navbar menu li {
    display: inline-block;
    list-style-type: none;
    font-size: 20px;
    margin-left: 25px;
    margin-right: 10px;
    padding-top: 15px;
}

section {
    margin: 25px;
}


.content {

}

.about-me {

}

.head {
    font-family: fantasy;
    font-size: 25px;
    color:violet;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;    
}

.sample-work {
    flex-wrap: wrap;
    
}

#refractoring {
    width: 100%;
   

}

#portfolio {
    width: 50%;

}

#new {
    width: 50%;
}

.sample1 {
    background-image: url("../homework-2/Horiseon-live-1.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 500px;
}

span {
    position:fixed; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.sample2 {
    background-image: url("../homework-2/Horiseon-live-1.JPG");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 250px;
    width: 90%;
    margin: 10px;
    /* margin-bottom: 15px; */
}

.sample3{
    background-image: url("../homework-2/pumpkin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 90%;
    margin: 10px;
}


.subs {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .subs {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 992px) {
    .subs {
      flex: 100%;
    }
  }

  
h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-family: monospace;
    
}





/* .horiseon {
    min-width: auto;
    /* max-width: 350px; */
    /* min-height: auto; */

/* } */


/* @media screen and (min-width: 768px) {
    #horiseon {width: 300px; float: left;}
} */

.finder {
    /* align-items: center; */
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: system-ui;
}


.contact {

}

footer {
    font-size: 15px;

}



